<div class="footer">
    <div class="title">Hire Me For Your Next Amazing Project</div>
    <div class="content">
        <div class="left">
            <div class="description">Let's make somthing new, different and more meaningful or make thing more visual or conceptual? Just say hello!</div> 
            <div class="contact">
                <div>
                    <div class="bar"></div>
                    <div class="phone">+123 569 789</div>
                </div>
                <div>
                    <div class="bar"></div>
                    <div class="email-adress">youremail@gmail.com</div>
                </div>
                <div>
                    <div class="bar"></div>
                    <div class="adress">28 Green Tower, Street name,<br>New York City, USA</div>
                </div>
            </div>
        </div>
        <div class="form">
            <div>
                <label>Your name</label>
                <input class="name" type="text">
            </div>
            <div>
                <label>Your email Address</label>
                <input class="email" type="email">
            </div>
            <div>
                <label>Your budget (Optional)</label>
                <input class="budget" type="text">
            </div>
            <div>
                <label>Your project description</label>
                <textarea rows="2"></textarea>
            </div>
            <div class="button">SEND</div>
        </div>
    </div>
    <div class="social-media">
        <div class="text">© 2020 Ozart Portfolio Template</div>
        <div class="icons">
            <img src="/assets/icon-fb.png">
            <img src="/assets/icon-in.png">
            <img src="/assets/icon-be.png">
            <img src="/assets/icon-twt.png">
            <img src="/assets/icon-drb.png">
        </div>
    </div>
</div>
