
@import "mixins";
@import "variables";

:host{
    width: 100%;
    display: block;
}

.indicators{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    @include latime;
}

.fake-elem{
    width: 20px;
    height: 20px;
}

.indicator{
    display: inline-block;
    margin: 0 16px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(51, 51, 51, 1);
    vertical-align: middle;
}

.indicator.selectat{
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: 7px solid rgba(51, 51, 51, 1);
    background-color: white;
}

.btn{
    display: inline-block;
    margin: 0 6px;
    vertical-align: middle;
    cursor: pointer;
}



@media screen and (max-width:$max-width-break-point) {
    .fake-elm,.btns{
        display: none;
    }
    .indicators{
        justify-content: center;
    }
}