<div class="heder">
    <app-nav-bar class="bar"></app-nav-bar>
    <div class="content">
        <div class="left">
            <div class="subtitle">
                <div class="line"></div>
                <div class="text">Hello</div>
            </div>
            <div class="title"><span class="first-word">I'm</span>Sarah Jackson</div>
            <div class="description">A UX / UI designer, product designer, content creator and creative director.</div>
            <div class="info">Of course, there's so much more to me than just a few fancy titles. Scroll down and get to know me.</div>
        </div>
        <div class="image-heder"></div>
    </div>
    <div class="social-media">
        <div class="icons">
            <img class="icon" src="/assets/icon-fb.png">
            <img class="icon" src="/assets/icon-in.png">
            <img class="icon" src="/assets/icon-be.png">
            <img class="icon" src="/assets/icon-twt.png">
            <img class="icon" src="/assets/icon-drb.png">
        </div>
        <div class="scroll">
            <div class="txt">Scroll</div>
            <img src="/assets/icon-scroll.png">
        </div>
        <div class="fake-elm"></div>
    </div>
</div>
