
@import "mixins";
@import "variables";

:host{
    width: 100%;
    display: inline-block;
}

.card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap:32px;
}

